body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: 'Lexend';
   min-height: 80vh;
}

.container {
    background-color: #FFFFFF;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-style: double;
    border-color: #414a4c;
    font-family: 'Lexend';
}

h1 {
    margin-bottom: 30px;
    font-family: 'Lexend';
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Lexend';
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"], select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-family: 'Lexend';
}

input[type="checkbox"] {
    margin-right: 10px;
   margin-bottom: 20px;
}

button {
    background-color: #1b1b1b;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Lexend';
}

div.parts {
   background-color: #FFFFFF;
   color: #000000;
   font-family: 'Lexend';
}

option {
   font-family: 'Lexend';
   border-style: round;
   border-color: #000000;
   
}

form {
    font-family: 'Lexend';
}

h2 {
    font-family: 'Lexend';
}

p {
    font-family: 'Lexend';
}
