<!DOCTYPE html>
<html>
<head>
    <title>Computer Build</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" />
    <div class="container">
        <h1>Not Enough Money to Generate Build</h1>
        <h2>Please Increase Your Budget</h2>
        <h3>If you opted to buy a Windows Key, consider buying that later to save money</h3>
        <a href = "/">Click here to create a new build</a>
    </div>

    <script>
        $(document).ready(function() {
            $('.container').addClass('loaded');
            $('.loader').addClass('loaded');
        });
    </script>
</body>
</html>
