<!DOCTYPE html>
<html>
<head>
    <title>Computer Build</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" />
    <div class="container">
        <h1>Please Increase Your Budget</h1>
        <h2>Not Enough Money to Generate Build</h2>
        <h5>*If you opted to buy a Windows Key, consider buying that later to save money</h5>
        <h6>*This may be a result of a requested filter that we lack data on, that is impossible to achieve, or that is impossible given the inputted budget</h6>
        <h6> (e.g. 128GB Minimum RAM, 100,000 GB Minimum Storage, 12TB minimum storage with $600 inputted budget) </h6>
        <a href = "/">Click here to create a new build</a>
    </div>

    <script>
        $(document).ready(function() {
            $('.container').addClass('loaded');
            $('.loader').addClass('loaded');
        });
    </script>
</body>
</html>
