<!DOCTYPE html>
<html>
<head>
    <title>Computer Build</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" />
    <div class="container">
        <h1>Build Your Own PC</h1>
        <form action="build">
            <label for="budget">Budget:</label>
            <input type="number" id="budget" name="budget" placeholder="Enter Price in USD ($) [Default: $1000]" pattern = "[0-9]" min = "600" max = "30000"/>
          <!--  <output for="budget" id="budgetOutput"> <strong>Current Inputted Budget:</strong> $1000 [DEFAULT] </output> <br> -->
            
            <label for="tax">Country/State Sales Tax: (Ex. California = 7.25)</label>
            <input type="number" id="tax" name="tax" placeholder="Enter sales tax (%)" max="100" min="0" step=".001">

            <label for="windows">Include Windows Key:</label>
            <input type="checkbox" id="windows" name="windows">

            <label for="cpu">Preferred CPU Brand:</label>
            <select id="cpu" name="cpu">
                <option value="nopref">No Preference</option>
                <option value="intel">Intel</option>
                <option value="amd">AMD</option>
            </select>

            <label for="ssdStorage">Minimum SSD Storage:</label>
            <input type="number" id="ssdStorage" name="ssdStorage" placeholder="Enter SSD Storage (GB) [Default: No Preference]" pattern = "[0-9]" max = "10000"/>

            <label for="hddStorage">Minimum HDD Storage:</label>
            <input type="number" id="hddStorage" name="hddStorage" placeholder="Enter HDD Storage (GB) [Default: No Preference]" pattern = "[0-9]" max = "10000"/>
            

            <button type="submit">Build My PC</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('.container').addClass('loaded');
            $('.loader').addClass('loaded');

            $('#budget').on('input', function() {
                var budgetVal = $(this).val();
               // $('#budgetOutput').html('<strong> Current Inputted Budget:</strong> $' + budgetVal);
            });

            $('#ssdStorage').on('input', function() {
                var ssdStorageVal = $(this).val();
                if (ssdStorageVal == 0) {
                    $('#ssdStorageOutput').html('No Preference');
                } else {
                    $('#ssdStorageOutput').html(ssdStorageVal + 'GB');
                }
            });

            $('#hddStorage').on('input', function() {
                var hddStorageVal = $(this).val();
                if (hddStorageVal == 0) {
                    $('#hddStorageOutput').html('No Preference');
                } else {
                    $('#hddStorageOutput').html(hddStorageVal + 'GB');
                }
            });
        });
    </script>
</body>
</html>
