<!DOCTYPE html>
<html>
<head>
    <title>Computer Build</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" />
    <div class="container">
        <h1>Build Your Own PC</h1>
        <form action = "build">
            <label for="budget">Budget:</label>
            <input type="number" id="budget" name="budget" placeholder="Enter budget in USD ($)">

            <label for="windows">Include Windows Key:</label>
            <input type="checkbox" id="windows" name="windows">

            <label for="cpu">Preferred CPU Brand:</label>
            <select id="cpu" name="cpu">
                <option value="nopref">No Preference</option>
                <option value="intel">Intel</option>
                <option value="amd">AMD</option>
            </select>

            <label for="gpu">Preferred GPU Brand:</label>
            <select id="gpu" name="gpu">
                <option value="nopref">No Preference</option>
                <option value="nvidia">NVIDIA</option>
                <option value="amd">AMD</option>
            </select>

            <button type="submit">Build My PC</button>
        </form>

    </div>
</body>
</html>
